<div class="home-container" *ngIf="!showProducts">
  <h1>Bienvenidos a Pancolombia</h1>
  <p>¡El pan más fresco y delicioso de la ciudad!</p>
  <button (click)="toggleProducts()">Ver Productos</button>
  <img src="assets/images/icono.png" alt="" />
</div>

<div class="productos-container" *ngIf="showProducts">
  <h2 class="productos-title">Productos</h2>
  <div class="productos-grid">
    <div class="producto" *ngFor="let pan of products">
      <img [src]="pan.image" alt="{{pan.name}}" />
      <h3>{{ pan.name }}</h3>
      <p>Precio: {{ pan.price }} COP</p>
      <button>Comprar</button>
    </div>
  </div>
  <button (click)="toggleProducts()" class="back-button">Volver al inicio</button>
</div>

